#MacOS file info
.DS_Store
*/.DS_Store

#Goland IDE data
.idea/
*/.idea/

#output of Golang package
/pkg/

#other ignore files
*.xml
src/core/wenqin_test_util.go


*/block/
*/groupldb/
*/height/
*/logs/
*/state/
*/tx/
*/database/

main