#MacOS file info
.DS_Store

#Goland IDE data
.idea
.idea/*.*

#output of Golang package
/pkg

#other ignore files
*.xml
src/governance/state
src/governance/block
src/governance/height
src/core/wenqin_test_util.go